<app-search  [key]='search'>
<div layout="column" layout-align="center center" style="margin-bottom:40px;">
	<md-list>
	    <md-list-item *ngFor="let post of posts" >
	        <a *ngIf=" post.created_user" href="/#/users/{{post.created_user.id}}" >
	          <img *ngIf=" post.created_user.avatar " src="{{post.created_user.avatar}}" class="md-avatar"/>
	          <img *ngIf=" !post.created_user.avatar " src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.png" class="md-avatar"/>
	        </a>

	        <a *ngIf=" !post.created_user" href="/#/posts" title=""><img src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.png" class="md-avatar"/></a>
	        <div class="md-list-item-text">
	          <h3>
	            <a href="/#/posts/{{post.id}}">{{ post.title }} </a>
	      	  </h3>
	          <p> {{ post.short_content }} </p>
	          <p *ngIf="post.created_user"><a href="/#/users/{{post.created_user.id">{{post.created_user.username}}</a></p>
	        </div>
	        <md-divider></md-divider>
        </md-list-item>
	</md-list>
</div>
</app-search>